<h1>Hero Info:</h1>
<br>
<h2><%= @user.username.titleize %></h2>
<h2><%= @user.email %></h2>
<br>
<h1>Your Journey's</h1>
<ul>
<% @user.journeys.each do |journey| %>
  <li><%= link_to journey.name, "/journeys/#{journey.id}", method: :get, class: "btn btn-info" %></li>
<% end %>
</ul>
  
<br>
<h3><%= link_to 'New Journey', '/journeys/new', method: :get, class: "btn btn-success" %></h3>