/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-image: url('map.jpeg');
  font-family: Papyrus,fantasy;
}

div.transparent{
  background: rgba(251, 205, 154, 0.5);
  border-width: 10px
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  
}

#map-builder > div.fatty{
  float: left;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

#reveal {
      position: absolute;
      z-index: 500;
      height: 1500px;
      width: 90%;

    }

.tiles{
  height: 200px;
  width: 200px;
}
.map-tiles{
  height: 250px;
  width: 100%;
}
h1.Header {
  text-align: center;
}
h3.description{
  text-align: center;
}
ul {
  list-style-type: none;
}
.journey {
  text-align: center;
}