<h1>Journey: <%= @journey.name %></h1>
<h2>Description:<%= @journey.description %></h2>
<h3>Maps:</h3>
<ul>
  <% @journey.maps.each do |map| %>
    <li><%= link_to map.name, "/maps/#{map.id}", method: :get %></li>
  <% end %>
</ul>
<br>
<h3><%= link_to 'New Map', '/maps/new', method: :get %></h3>